.new-question-container
    border: $light-grey solid 2px
    max-width: 600px
    margin-top: 30px
    h1
        font-size: 2rem
        background: $grey
        padding: 10px
    .form-container
        padding: 10px
    input 
        width: 50%
        display: block
        margin: 10px auto
        padding: 5px
    button
        margin: 0 auto
        display: block
        margin-bottom: 10px