.answer-poll-container
    h1
        margin-top: 20px
        margin-right: 10px
    .answer-poll-row
        margin-bottom: 20px
        margin-right: 10px
        .percentage-bar-container
            background: $light-grey
            width: 100%
            .percentage-bar
                background: $gold
                width: 100%
                padding: 20px 0
                text-align: center
                white-space: nowrap