.question-list-container
    border: black solid 10px
    min-height: 10vh
    h1
        text-transform: uppercase
    .question-container
        border: red solid 2px
        width: 75%
        margin: 0 auto
        .question-details
            display: flex
            justify-content: center
            align-items: center
            > div
                flex: 4;
                text-align: center;
        img
            width: 100px
            border-radius: 30px
            flex: 1