@import url("https://fonts.googleapis.com/css?family=Gaegu:400,700");
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Gaegu', cursive; }

/* HTML5 display-role reset for older browsers */
button, a {
  font-family: 'Gaegu', cursive;
  cursor: pointer; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

h1 {
  font-size: 1.6rem;
  text-align: center; }

h2 {
  font-size: 1.4rem;
  text-align: center; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 47%, #b3bead 100%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.6);
  height: 5vh; }
  header nav {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    header nav ul {
      padding-left: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1; }
    header nav > div {
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1; }

.login-container {
  background: linear-gradient(to bottom, #b3bead 0%, #dfe5d7 47%, #b3bead 100%);
  border-radius: 20px;
  margin-top: 20px;
  color: #5b584e;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }
  .login-container > img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    max-width: 100%; }
  .login-container label {
    margin-top: 20px; }
  .login-container select {
    margin-top: 5px; }

.question-list-container {
  border: #cfd2ce solid 2px;
  min-height: 10vh; }
  .question-list-container h1 {
    text-transform: uppercase; }
  .question-list-container .answered-row {
    display: flex;
    justify-content: center; }
    .question-list-container .answered-row > button {
      flex: 1;
      color: black;
      font-size: 2rem; }
    .question-list-container .answered-row .active {
      background: #5b584e;
      color: #d79d02; }

.question-container {
  border: black solid 2px;
  box-shadow: 5px 5px 20px black;
  border-radius: 5px;
  width: 50%;
  margin: 20px auto; }
  .question-container h1 {
    background: #ddede9;
    padding: 10px;
    text-transform: uppercase; }
  .question-container .question-details {
    background: rgba(221, 237, 233, 0.2);
    display: flex;
    justify-content: center;
    align-items: center; }
    .question-container .question-details button {
      background: #d79d02;
      padding: 10px;
      font-size: 1rem;
      margin-top: 10px;
      border-radius: 10px;
      display: block;
      margin: 10px auto; }
    .question-container .question-details > div {
      flex: 4;
      text-align: center; }
      .question-container .question-details > div p {
        margin-top: 10px;
        font-size: 1.2rem;
        text-align: left;
        padding-left: 20px; }
  .question-container img {
    width: 100px;
    border-radius: 30px;
    flex: 1;
    padding: 20px; }

.new-question-container {
  border: #cfd2ce solid 2px;
  max-width: 600px;
  margin-top: 30px;
  box-shadow: 3px 3px 10px black; }
  .new-question-container h1 {
    font-size: 2rem;
    background: #ddede9;
    padding: 10px; }
  .new-question-container .form-container {
    padding: 10px; }
  .new-question-container input {
    width: 50%;
    display: block;
    margin: 10px auto;
    padding: 5px; }
  .new-question-container button {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px; }
